<html>
<head>
    <title>
        How to insert spaces/tabs in text using HTML/CSS?
    </title>
</head>
<body>
    <div class="container h-100">
        <div class="card-body p-md-5">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create your virus</p>

                    <form method="post" action="/Home/CreateVirus" class="mx-1 mx-md-4">

                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="text" name="Name" id="form3Example1c" class="form-control">
                                <label class="form-label" for="form3Example1c">Virus name</label>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="range" name="InfectionSeverity" id="rang1" width="300" value="50" min="0" max="100" @*oninput="this.nextElementSibling.value = this.value"*@>
                                <h3 id="result1">50%</h3>
                                <label class="form-label">Infection severity</label>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="range" name="ProbabilityToDead" id="rang2" width="300" value="50" min="0" max="100" @*oninput="this.nextElementSibling.value = this.value"*@>
                                <h3 id="result2">50%</h3>
                                <label class="form-label">Probability to dead</label>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="range" name="ProbabilityToCure" id="rang3" width="300" value="50" min="0" max="100" @*oninput="this.nextElementSibling.value = this.value"*@>
                                <h3 id="result3">50%</h3>
                                <label class="form-label">Probability to cure</label>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input type="range" name="IncubationTime" id="rang4" width="300" value="50" min="0" max="100" @*oninput="this.nextElementSibling.value = this.value"*@>
                                <h3 id="result4">50</h3>
                                <label class="form-label">Incubation time</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                        </div>

                    </form>

                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    @{
                        if (ViewData["Error"] == "")
                        {
                            <img class="fit-image check-img" src="https://i.imgur.com/QH6Zd6Y.gif">
                            <script>
                                document.addEventListener("DOMContentLoaded", function (event) {
                                    window.setTimeout(function () {
                                        window.location.href = '/Home/Panel';

                                    }, 3000);
                                });

                            </script>

                        }else{

                            <img src="~/Resources/createSlider.png" class="img-fluid" alt="Sample image">
                            
                        }
                    }                  
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" charset="utf-8">
rang1.oninput = function () {
    switch (true){
            case (rang1.value < 5):
                document.getElementById("result1").style.color = "green";
            break;
            case (rang1.value < 15):
                document.getElementById("result1").style.color = "orange";
            break;
            case (rang1.value < 30):
                document.getElementById("result1").style.color = "red";
            break;
            case (rang1.value < 50):
                document.getElementById("result1").style.color = "burgundy";
            break;
            default:
                document.getElementById("result1").style.color = "red";
            break;
    }
        let rangeValue = document.querySelector('#rang1').value;
        document.getElementById("result1").innerHTML = rangeValue + '%';
}

    rang2.oninput = function () {
        switch (true) {
            case (rang2.value < 5):
                document.getElementById("result2").style.color = "green";
                break;
            case (rang2.value < 15):
                document.getElementById("result2").style.color = "orange";
                break;
            case (rang2.value < 30):
                document.getElementById("result2").style.color = "red";
                break;
            case (rang2.value < 50):
                document.getElementById("result2").style.color = "burgundy";
                break;
            default:
                document.getElementById("result2").style.color = "red";
                break;
        }
        let rangeValue = document.querySelector('#rang2').value;
        document.getElementById("result2").innerHTML = rangeValue + '%';
    }
    rang3.oninput = function () {
        switch (true) {
            case (rang3.value < 5):
                document.getElementById("result3").style.color = "#BA3636";
                break;
            case (rang3.value < 15):
                document.getElementById("result3").style.color = "#F7A620";
                break;
            case (rang3.value < 30):
                document.getElementById("result3").style.color = "green";
                break;
            case (rang3.value < 50):
                document.getElementById("result3").style.color = "green";
                break;
            default:
                document.getElementById("result3").style.color = "green";
                break;
        }
        let rangeValue = document.querySelector('#rang3').value;
        document.getElementById("result3").innerHTML = rangeValue + '%';
    }
    rang4.oninput = function () {
        switch (true) {
            case (rang4.value < 5):
                document.getElementById("result4").style.color = "green";
                break;
            case (rang4.value < 15):
                document.getElementById("result4").style.color = "#F7A620";
                break;
            case (rang4.value < 30):
                document.getElementById("result4").style.color = "red";
                break;
            case (rang4.value < 50):
                document.getElementById("result4").style.color = "red";
                break;
            default:
                document.getElementById("result4").style.color = "#BA3636";
                break;
        }
        let rangeValue = document.querySelector('#rang4').value;
        document.getElementById("result4").innerHTML = rangeValue;
    }


  </script>
  <style>
    input[type="range"] {
        width: 400px;
    }
  </style>